.del_btn button{
   width: 25%;
   background-color:rgba(11, 7, 219, 0.733);
   color: white;
   border-radius: 10px;
   text-align: center;
   float: right;
   border-color: white;
}

.forecast:hover{
    cursor: pointer;
}

.forecast{
    width: 200px;
    height: 100%;
    background-color: rgba(11, 7, 219, 0.733);
    display: inline-block;
    border-radius: 10px;
    color: white;
}

.div-ppal{
    display: inline-block;
    float: center;
    text-align: center;
}

.div-ppal div{
    float: left;
    text-align: center;
    margin: 8px;
}

.div-ppal div img{
    width: 75px;
    height: 75px;
}

.custom-overlay{
    padding: 10%;
}

.custom-modal {
    padding:1px;
    width: 100%;
    border-radius: 10px; 
}


/* mobile */
@media only screen and (max-width: 768px) {
    .forecast{
        margin: 15px;
    }    
      
}

/* tablet */
@media only screen and (max-width: 1023px) {
    .forecast{
        margin: 15px;
    }
    
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    .forecast{
        margin: 50px;
    }    
    
}


